* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #444;
  background: #faf7f4;
}

.parallax {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

.afternoon {
  background-image: url("images/afternoonstreet.jpg");
}

.dinner {
  background-image: url("images/dinner.jpg");
}

.night {
  background-image: url("images/bed.jpg");
}

.content {
  min-height: 5vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 60px;
  background: #fad4e6;
}

.card {
  background: rgba(240, 235, 141, 0.75);

  padding: 40px;

  border-radius: 16px;

  backdrop-filter: blur(6px);

  max-width: 500px;

  text-align: center;
}

h1,
h2 {
  margin-bottom: 15px;
}

p {
  line-height: 1.6;
}